---
import Layout from '../layouts/Layout.astro';
import Player from '../components/Player/Player';
import TopBanner from '../components/TopBanner/TopBanner';
import type { getVideoType } from 'src/modules/module';
import { setAuthorization } from 'src/utils/utils';

const ENV = {
  TOKEN_NAME: import.meta.env.TOKEN_NAME,
  TEST_URL: import.meta.env.TEST_URL,
};

var commentList: any = [];
var VidoeInfo: getVideoType[] = [];
const token = Astro.cookies.get(ENV.TOKEN_NAME).value;
const PageUrl = Astro.request.url;
const video_ids = Astro.url.searchParams.get('video_ids') || '01GH57C05CRNT6V1Z0VNGS13D5';
// examp  http:127.0.0.1:3000/?video_ids=01GH57C05CRNT6V1Z0VNGS13D5
const localhost = ENV.TEST_URL || Astro.url.origin;

const setCookies = (str: string) => {
  Astro.cookies.set(ENV.TOKEN_NAME, str, {
    path: '/',
  });
};



const setData = (data: { items: [] }) => {
  const strTime = (time: number) => {
    var timestamp = time / 1000;
    if (timestamp >= 86400) {
      return (timestamp / 86400).toFixed(0) + 'd';
    } else if (timestamp >= 3600 && timestamp < 86400) {
      return (timestamp / 3600).toFixed(0) + 'h';
    } else if (timestamp > 60 && timestamp < 3600) {
      return (timestamp / 60).toFixed(0) + 'm';
    } else {
      return timestamp.toFixed(0) + 's';
    }
  };
  commentList = data.items?.map((item: any) => {
    return {
      avatar: item.content.Comment.author_profile_photo.url,
      'x-url-signature': item.content.Comment.author_profile_photo.headers['x-url-signature'],
      author_display_name: item.content.Comment.author_display_name,
      content: item.content.Comment.content,
      likes: item.content.Comment.num_likes,
      createtime: strTime(new Date().getTime() - item.content.Comment.created_at * 1000),
    };
  });
};
if (!token) {
  try {
    const response = await fetch(localhost + `/api/setCookies`, { method: 'get' });
    const aluluTokenJson = await response.json();
    setCookies(aluluTokenJson.access_token);
    return Astro.redirect(
      '/refreshToken?refresh_token=' + aluluTokenJson.refresh_token + `&href=${PageUrl}`,
    );
  } catch (error) {
    console.log('Failed to register user' + error);
  }
} else {
  let apiList = [
    `/api/getVideoinfo?video_ids=${video_ids}`,
    `/api/getComments?video_ids=${video_ids}`,
  ];
  try {
    const responseList = await Promise.all(
      apiList.map((url) => {
        return fetch(localhost + url, {
          headers: {
            Authorization: setAuthorization(token),
          },
        }).then((res) => res.json());
      }),
    );
    responseList.map((item) => {
      if (item.status != 200) {
        throw item.status;
      }
    });
    VidoeInfo = responseList[0].data;
    setData(responseList[1].data);
  } catch (errorStatus) {
    if (errorStatus === 401) {
      return Astro.redirect(`/refreshToken?href=${PageUrl}`);
    } else if (errorStatus === 404) {
      return Astro.redirect(`/404`);
    } else {
      throw errorStatus;
    }
  }
}
---

<Layout title="alulu">
  <div class="ShareContainer">
    <TopBanner client:only="react" />
    <Player client:only="react" VideoInfo={VidoeInfo} />
    <div class="OperationArea">
      <div class="IconLable">
        <span class="icon iconfont icon-aixin"></span>
        <span>{VidoeInfo[0]?.like_count}</span>
      </div>
      <div class="IconLable">
        <span class="icon iconfont icon-pinglun"></span>
        <span>{VidoeInfo[0]?.comment_count}</span>
      </div>
      <div class="IconLable">
        <span class="icon iconfont icon-zhuanfa"></span>
        <span>{VidoeInfo[0]?.share_count}</span>
      </div>
      <div class="IconLable">
        <span class="icon iconfont icon-shuqian1"></span>
        <span>{VidoeInfo[0]?.bookmark_count}</span>
      </div>
    </div>
    <div class="ShareComment">
      <div class="comment-wrapper">
        <span>{commentList?.length}</span>
        <span> comments</span>
      </div>
      {
        commentList.map((item: any) => {
          return (
            <div class="comment-list">
              <div class="avatar-wrapper">
                <img
                  loading="lazy"
                  src={item.avatar + '?x-url-signature=' + item['x-url-signature']}
                />
              </div>
              <div class="conmments-wrapper">
                <div class="comments-title">
                  <span class="displayname">{item.author_display_name}</span>
                  <span>&nbsp;·&nbsp;</span>
                  <span class="time">{item.createtime}</span>
                </div>
                <div class="comments-content">{item.content}</div>
                <div class="comments-btn-wrapper">
                  <div class="left-wrapper">
                    <span>Reply</span>
                  </div>
                  <div class="right-wrapper">
                    <span>{item.likes}</span>
                    <span class="icon iconfont icon-aixin" />
                  </div>
                </div>
              </div>
            </div>
          );
        })
      }
    </div>
  </div>
</Layout>
